.weather-app {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px 20px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
  background-color: #f5f1fe;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  display: block;
}
.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-input {
  padding: 10px;
  width: 60%;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search-button {
  padding: 10px 16px;
  border: none;
  background: #885df1;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.current-weather {
  margin-bottom: 30px;
  text-align: left;
}

.city {
  font-size: 36px;
  font-weight: bold;
}

.date-time,
.description {
  font-size: 18px;
  color: #777;
  text-align: left;
}

.weather-details {
  text-align: right;
  gap: 30px;
  margin-top: 20px;
}

.temperature {
  font-size: 60px;
  font-weight: bold;
}

.temp-unit {
  font-size: 28px;
  vertical-align: super;
}

.extra-info p {
  margin: 4px 0;
}

.forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.forecast-day {
  text-align: center;
}

.forecast-name {
  font-weight: bold;
  margin-bottom: 8px;
}

.max {
  font-weight: bold;
  margin-right: 4px;
}

.min {
  color: #777;
}

.footer {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  color: #777;
}
